body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  height: 100vh;
}

#app,
.entryHistory-content {
  border-radius: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-width: 280px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  font-size: 1.5rem;
  margin: 3em auto;
}

/* Form section*/
.holder {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5em;
}

.myInput {
  background-color: rgba(213, 234, 252, 0.507);
  border-radius: 10px;
  padding: 0.5em;
}

::placeholder,
.inputLabel {
  color: rgb(35, 66, 92);
}

.formBtn {
  height: 2em;
  width: 5em;
  margin: 1em auto;
  justify-content: center;
  background: rgba(91, 170, 235, 0.397);
  color: rgb(250, 248, 246);
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  box-shadow: 2px 4px 5px rgb(94, 92, 92);
  border: none;
}

.formBtn:hover {
  cursor: pointer;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.close {
  position: absolute;
  right: 10%;
  top: 8%;
  font-size: 50px;
  transition: 0.3s;
  display: none;
  cursor: pointer;
}

#entryHolder {
  background-color: rgba(91, 170, 235, 0.89);
  text-align: center;
  padding: 0.5em;
}

#date,
#temp,
#content {
  color: #f0d43a;
}

.headline {
  align-items: center;
  margin-top: 1em;
  font-size: 2rem;
}
.title {
  padding: 1em;
}

/* New Div added after the generateBtn*/
.entryHistory {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 1em auto 0;
}

.entryHistory-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "title title title title"
    ". icon icon ."
    "zip zip temp temp "
    "feeling feeling feeling feeling";
  grid-row: auto;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 100%;
  height: 40vh;
  background: rgb(205, 222, 241);
  background: radial-gradient(
    circle,
    rgb(240, 212, 204) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: rgba(21, 46, 66, 0.932);
}

.entryHistory-content-title {
  grid-area: title;
}

.entryHistory-content-zip {
  grid-area: zip;
}

.entryHistory-content-temp {
  grid-area: temp;
}

.entryHistory-content-feeling {
  grid-area: feeling;
}

.entryHistory-content-icon {
  grid-area: icon;
  margin: 0 auto;
}

.entryHistory-content-title,
.entryHistory-content-feeling,
.entryHistory-content-zip,
.entryHistory-content-temp {
  padding: 0 1em;
  font-size: 1rem;
  color: rgb(35, 66, 92);
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*media query*/

@media (min-width: 600px) {
  .entryHistory-content-title,
  .entryHistory-content-feeling,
  .entryHistory-content-zip,
  .entryHistory-content-temp {
    padding: 0 1em;
    font-size: 1.5rem;
  }
}

@media (max-width: 378px) {
  .holder {
    font-size: 1.3rem;
  }
}
