body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  margin-top: 50vh;
}

.holder {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.entry {
  background: rgba(156, 169, 196, 0.8);
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.close {
  position: absolute;
  right: 10%;
  top: 8%;
  font-size: 50px;
  color: #f0d43a;
  transition: 0.3s;
  display: none;
  cursor: pointer;
}

#entryHolder {
  background-color: #be8089;
  text-align: center;
  padding: 0.5em;
}

#date,
#temp,
#content {
  color: #f0d43a;
}

.headline {
  align-items: center;
  margin-top: 1em;
  font-size: 2rem;
}
.title {
  padding: 1em;
}

/* New Div added after the generateBtn*/
.entryHistory {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 1em auto 0;
}

.entryHistory-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "title title title title"
    ". icon icon ."
    "zip zip temp temp "
    "feeling feeling feeling feeling";
  grid-row: auto;
  background-color: #8f6369;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 100%;
  height: 40vh;
}

.entryHistory-content-title {
  grid-area: title;
}

.entryHistory-content-zip {
  grid-area: zip;
}

.entryHistory-content-temp {
  grid-area: temp;
}

.entryHistory-content-feeling {
  grid-area: feeling;
}

.entryHistory-content-icon {
  grid-area: icon;
  margin: 0 auto;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 90%;
  background: #22b2da;
  color: #f0d43a;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  height: 20vh;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #a9e7f8;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

/* TODO: Change the style*/
